body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
h1
{
  font-size: 50px;
      margin-block-start: 0.3em;
    margin-block-end: 0.3em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 1.5;
}

.resume-container {

  display: flex;
   background-color: hsl(189.08deg 73.91% 31.57%);
  max-width: 960px;
  justify-content:center;
  margin:20px auto;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
/*background-image: url("../images/shape.jpg");*/
  background-size: cover;
  background-position: center;
z-index: -1; /* Set a negative z-index to position the background overlay behind the resume container */
}
.left-side {
  width: 35%;
  color: white;
  padding: 20px;
}

.right-side {
  width: 65%;
  background-color: white;
  padding: 55px;
  color: black;
   margin-top:63px;
  margin-left:34px;
  margin-bottom:63px;
  border-top-left-radius:20px;
  border-bottom-left-radius:20px;
}
.right-sideh {
 text-align: center;
}

.profile-image {
  margin-left:65px;
  margin-top: 43px;
  width: 210px;
  height: 240px;
  background-color: #fff;
  border-radius: 30px;
}
.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the entire container */
}
.about-section, .expertise-section, .language-section, .references-section {
  margin-top: 20px;
}

.language-item, .expertise-item {
  display: flex;
  align-items: center;
}

.progress-bar {
  margin-left: 15px;
  width: 200px;
  height: 10px;
  background-color: lightgray;
}

.progress {
  margin-left: 30px;
  height: 100%;
  background-color: white;
}

.name-section {
  margin-bottom: 20px;
  color: #007480;
}

.contact-section ul {
  list-style-type: none;
  padding: 0;
}

.contact-section ul li {
  margin-bottom: 10px;
}

.education-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 5px;
}

.year, .school-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 10px;
  font-weight: 600;
} 

.contact-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 5px;
}

.year, .school-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 10px;
  font-weight: 600;
}
.fa {
  margin-right: 5px;
}  
.icon-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 31px;
  height: 31px;
  border: 2px solid #007480;
  border-radius: 50%;
  margin-right: 10px;
}

.icon-container i {
  color: #007480;
}

